.header {
  margin: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 47%;
  user-select: text;
  z-index: 2;
  position: relative;
}

/* Doing a test */
