.cards__image {
  object-fit: cover;
  margin: 0;
  border-radius: 50%;
  width: 18vw;
  height: 18vw;
}

#chair {
  /* object-position: -31px 0; */
  object-position: -3vw 0;
}

#bin {
  object-position: -6px 0;
}
